@use '../abstract/mixins.scss' as mixin;
@use '../abstract/variables.scss' as var;

.wrapper {
    display: flex;
    flex-direction: column;
    width: 90%;
    justify-content: center;
    align-items: center;
    margin: 4rem auto; 

    @media (min-width: var.$md) {
        width: 60%;
        padding: 2.25rem;
    }

    @media (min-width: var.$lg) {
        width: 80%;
        padding: 3rem;
    }

    form {
        margin: auto;
    }
}

.title {
    font-family: var.$poppins-font;
    font-weight: 600;
}

.loader {
    stroke: var.$primary-color;
}