@use '../abstract/mixins.scss' as mixin;
@use '../abstract/variables.scss' as var;



.name {
    text-align: center;
    color: var.$primary-color;
    font-size: 2rem;
    font-family: var.$poppins-font;
}

.contactType, .birthday {
    color: var.$secondary-color;
    font-weight: 600;

    margin: 0 0.5rem;
}

.icon {
    margin-right: 0.25rem;
}

.modalContainer {
    width: 60%;
    margin: 2rem auto 0;
    display: flex;
    justify-content: space-between;
}

.yes {
    background-color: var.$secondary-color;
    width: 40%;
    &:hover {
        background-color: #12173d;
    }
}

.no {
    background-color: rgb(250, 70, 70);
    width: 40%;
    &:hover {
        background-color: rgb(167, 49, 49);
    }
}

.edit {
    color: var.$secondary-color;
}

.delete {
    color: rgb(231, 53, 53);
}

.actionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    h2 {
        display: flex;
        margin-right: 1rem;
    }
}