@use '../abstract/mixins.scss' as mixin;
@use '../abstract/variables.scss' as var;

.card {
    padding: 0.125rem;
    margin: 0.5rem 0.8rem;
    width: 100%;
    position: relative;

    h2 {
        a {
            text-decoration: none;
            color: var.$secondary-color;
        }
    }

    .star {
        a {
            color: var.$primary-color
        }
    }

   .divider {
       width: 90%;
       position: absolute;
       bottom: 0;
   }


}