@use '../abstract/mixins.scss' as mixin;
@use '../abstract/variables.scss' as var;

.wrapper {
    width: 90%;
    margin: 4rem auto; 
    padding: 2rem;

    @media (min-width: var.$md) {
        width: 60%;
        padding: 2.25rem;
    }

    @media (min-width: var.$lg) {
        width: 30%;
        padding: 3rem;
    }
}