@use '../abstract/mixins.scss' as mixin;
@use '../abstract/variables.scss' as var;
body {
    margin: 0;
}

nav {
    background-color: var.$secondary-color ;
    color: white;
    
}

.logoContainer {
    display: flex;
    align-items: center;
    .logo {
        color: var.$primary-color;
        font-size: 2rem;
        margin: 0 1rem;
    }
    h1 {
        font-family: var.$poppins-font;
    }
    
}



.logoUserWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightContainer {
    margin: 0 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;

    li {
        margin-bottom: 0.5rem;
        a {
            text-decoration: none;
        padding-bottom: 0.25rem;
        
        padding: 1rem 1rem;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
        }
        
    }
}

.active {
    background-color: white;
    border-top-left-radius: var.$radius;
    border-top-right-radius: var.$radius;  
    color: black;
    font-weight: 600;
}

.tab {
    color: white;
}

.btn {
    @include mixin.btn(var.$transition-all);
}