@use '../abstract/mixins.scss' as mixin;
@use '../abstract/variables.scss' as var;
body {
    margin: 0;
}

nav {
    background-color: var.$secondary-color ;
    color: white;
    
}

.logoContainer {
    display: flex;
    align-items: center;
    text-decoration: none;
    .logo {
        color: var.$primary-color;
        font-size: 2rem;
        margin: 0 1rem;
    }
    h1 {
        font-family: var.$poppins-font;
        color: white;
    }
    
}



.logoUserWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightContainer {
    margin: 0 2rem;
    display: flex;
    align-items: center;
    gap: 2rem;

    p, .btn {
        display: none;
        @media (min-width: var.$md) {
            display: block;
        }
    }

    
    
}

ul {
    list-style-type: none;
    
}

ul li a {
    text-decoration: none;
}

nav > ul {
    display: none;
    justify-content: center;
    

    @media (min-width: var.$md) {
        display: flex;
    }

    li {
        margin-bottom: 0.5rem;
        a {
            
        padding-bottom: 0.25rem;
        
        padding: 1rem 1rem;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 250ms;
        }
        
    }
}

.mobileOverlay {
    @media (min-width: var.$md) {
        display: none;
    }

    height: 100vh;

    ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }



}


.active {
    background-color: white;
    border-top-left-radius: var.$radius;
    border-top-right-radius: var.$radius;  
    color: black;
    font-weight: 600;
}

.tab {
    color: white;
}

.btn {
    @include mixin.btn(var.$transition-all);
}



.burger {
    @media (min-width: var.$md) {
        display: none;
    }
    z-index: 16;
}

.rootModal {
    @media (min-width: var.$md) {
        display: none;
    }
}

.inner {
    padding: 0;
    
}

.modal {
    background: none;
    box-shadow: none;
    margin: auto;

    ul {
       
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        li {
            margin: 1rem auto;
            a {
                font-family: var.$poppins-font;
                font-weight: 600;
                font-size: 2rem;
                padding: 1rem;
                cursor: pointer;
                
                
            }
        }
    }

}

.mobileTab {
    color: white;
    &:hover {
        text-decoration: underline;
    }
}

.mobileActive {

    color: var.$primary-color;
}

.header {
    display: none;
}

.overlay {
    opacity: 90%;
    background-color: #060814;
    backdrop-filter: blur(5px);
}

.mobileEmail {
    color: rgb(231, 231, 231);
    font-family: var.$open-sans-font;
    cursor: default;
}