@use '../abstract/mixins.scss' as mixin;
@use '../abstract/variables.scss' as var;

.form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.inputWrapper {
    margin: 1rem 0;
}

.input{  

    &:focus-within{
        border-color: var.$primary-color;
    }
}


.btn {
    margin-top: 1rem;
    @include mixin.btn(var.$transition-all);
}

