@use '../abstract/mixins.scss' as mixin;
@use '../abstract/variables.scss' as var;

.formWrapper {
    @include mixin.formWrap(6rem);
   
    box-shadow: var.$shadow-xl;
    color: var.$text-color;

    
    h1 {
        font-family: var.$poppins-font;
        font-size: 2rem;
        text-align: center;
        
    }

    h2 {
        font-family: var.$poppins-font;
        font-weight: 400;
        font-size: 1.5rem;
        text-align: center;
    }
    
}


.logo {
    font-size: 4rem;
    color: var.$primary-color;
}

